
<!--
<md-sidenav-container class="docs-component-viewer-sidenav-container">
  <md-sidenav #sidenav class="docs-component-viewer-sidenav"
              [opened]="!isScreenSmall()"
              [mode]="isScreenSmall() ? 'over' : 'side'">
    <nav *ngFor="let category of docItems.getItemsInCategories()">
      <h3>{{category.name}}</h3>
      <ul>
        <li *ngFor="let component of category.items">
          <a [routerLink]="['/components/component/', component.id]"
             routerLinkActive="docs-component-viewer-sidenav-item-selected">
            {{component.name}}
          </a>
        </li>
      </ul>
    </nav>
  </md-sidenav>

    <router-outlet></router-outlet>

</md-sidenav-container>
-->


<md-sidenav-container class="docs-component-viewer-sidenav-container">
  <md-sidenav #sidenav [mode]="'side'" [opened]="true" class="docs-component-viewer-sidenav">
    <a [routerLink]="['/sprints']">Sprints</a>
    <a [routerLink]="['/stories']">Stories</a>
    <!--
    <nav *ngFor="let category of docItems.getItemsInCategories()">
      <h3>{{category.name}}</h3>
      <ul>
        <li *ngFor="let component of category.items">
           
          <a md-button [routerLink]="['/components/component/', component.id]"
             routerLinkActive="docs-component-viewer-sidenav-item-selected">
             <md-icon class="example-icon">verified_user</md-icon>
            {{component.name}}
          </a>
        </li>
      </ul>
    </nav>
    -->


  </md-sidenav>
    <router-outlet></router-outlet>

      <!--

  <div class="docs-component-sidenav-content">
    <router-outlet></router-outlet>
  </div>
  -->

</md-sidenav-container>