.ya-navbar {
  padding: 8px 16px;
  background: #022d53;
  color: #cfdae8;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.20);
    z-index: 10;
    margin: 0px;
    position: relative;
}

.ya-logo {
  margin: 0 4px 3px 0;
  height: 26px;
  vertical-align: middle;
}