<app-navbar [class.mat-elevation-z6]="showShadow"></app-navbar>

<!--
<md-toolbar color="primary" class="toolbar-shadow">
  <span>
    <div class="example-sidenav-content">

  </div>
    
    Ya-Scrum</span>
  <span class="toolbar-spacer"></span>
  <span>Right Aligned Text</span>
</md-toolbar>
-->


<md-sidenav-container>
  <md-sidenav #sidenav [mode]="'side'" [opened]="true">
    <a [routerLink]="['/sprints']">Sprints</a>
    <a [routerLink]="['/stories']">Stories</a>
  </md-sidenav>

  <router-outlet></router-outlet>

  <!-- primary content -->
</md-sidenav-container>











