<h2 md-dialog-title>{{story?.name}}</h2>

<md-dialog-content>
    <form [formGroup]="storyForm" (ngSubmit)="submit()" autocomplete="off" novalidate >


        <p>
        <md-input-container class="input-full-width">
            <input mdInput placeholder="Title" formControlName="name">
        </md-input-container>
        </p>
        <p>
        <md-select placeholder="Type" formControlName="type">
            <md-option *ngFor="let type of typeList" [value]="type.key">
            {{type.value}}
            </md-option>
        </md-select>
        </p>
        <p>
        <md-select placeholder="Priority" formControlName="priority">
            <md-option *ngFor="let priority of priorityList" [value]="priority.key">
            {{priority.value}}
            </md-option>
        </md-select>
        </p>


        <md-input-container class="input-full-width">
            <textarea mdInput placeholder="Description" rows="8" formControlName="description"></textarea>
        </md-input-container>

        <md-input-container class="input-full-width">
            <textarea mdInput placeholder="Acceptance Criterias" rows="8" formControlName="criterias"></textarea>
        </md-input-container>

        <md-input-container class="input-full-width">
            <textarea mdInput placeholder="Comments" rows="4" formControlName="comment"></textarea>
        </md-input-container>



    </form>
</md-dialog-content>

<md-dialog-actions [attr.align]="actionsAlignment">

    <button md-button color="primary" (click)="apply()">Apply</button>

    <button md-button color="secondary" md-dialog-close>Close</button>
</md-dialog-actions>