<md-card class="story-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{(story)?.name}}</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/themes/blueprint-large.jpg">
  <md-card-content>
    <p>
      {{(story)?.description}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="navigateToDetails(story?.$key)">LEARN MORE</button>
  </md-card-actions>
</md-card>